
<% provide(:title, "ログイン") %>
<div class="login_image">
  <div class="container">
    <h1>ログイン</h1>

    <%= form_with scope: :session, local: true do |f| %>
    <div class="form-group">
      <span><i class="fas fa-envelope"></i> <%= f.label :email, 'メールドレス' %></span>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <span><i class="fas fa-lock"></i> <%= f.label :password, 'パスワード' %></span>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit 'ログイン', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
