
<% provide(:title, "ユーザー詳細") %>
<div class="user_show_image">
  <div class="container">
    <h1>ユーザー詳細</h1>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th class="user_show_th"><%= User.human_attribute_name(:id) %></th>
          <td class="user_show_td"><%= @user.id %></td>
        </tr>
        <tr>
          <th class="user_show_th"><%= User.human_attribute_name(:name) %></th>
          <td class="user_show_td"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="user_show_th"><%= User.human_attribute_name(:email) %></th>
          <td class="user_show_td"><%= @user.email %></td>
        </tr>
        <tr>
          <th class="user_show_th"><%= User.human_attribute_name(:created_at) %></th>
          <td class="user_show_td"><%= @user.created_at %></td>
        </tr>
        <tr>
          <th class="user_show_th"><%= User.human_attribute_name(:updated_at) %></th>
          <td class="user_show_td"><%= @user.updated_at %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'ユーザー編集', edit_user_path, class: 'btn btn-primary user_edit_link' %>
  </div>
</div>
