
<% provide(:title, "宇宙掲示板") %>
<div class="posted_function_image">
  <h1 class="posted_function_title">宇宙掲示板</h1>
  <div class="posted_function">
    <% @posts.each do |post| %>
    <div class="posted_user_info">
      <%= link_to post.id, post %>:&ensp;&ensp;ユーザー&ensp;:&ensp;<%= post.user.name %>&ensp;&ensp;<%= post.created_at %>&ensp;&ensp;
    </div>
    <div class="post_content">
      &ensp;&ensp;&ensp;&ensp;&nbsp;
      <%= post.content %>
    </div>
    <% end %>
  </div>
  <div class="paginate"><%= paginate @posts %></div>
</div>
