<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- googleAdsence -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-8631639747990656",
              enable_page_level_ads: true
         });
    </script>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% if current_user %>
      <%= link_to '掲示板', posts_path, class: 'navbar-brand' %>
    <% else %>
      <%= link_to 'ホーム', root_path, class: 'navbar-brand' %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <%= link_to '新規投稿', new_post_path, class: 'nav-link' %>
        <%= link_to '写真一覧', imgposts_path, class: 'nav-link' %>
        <%= link_to 'ユーザー詳細', user_path(current_user), class: 'nav-link' %>
        <%= link_to 'ユーザー編集', edit_user_path(current_user), class: 'nav-link' %>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
      <% else %>
        <%= link_to '新規登録', new_user_path, class: 'nav-link' %>
        <%= link_to 'ログイン', login_path, class: 'nav-link' %>
      <% end %>
      <%= link_to '戻る', :back, class: 'nav-link' %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>


  <% if flash.notice.present? %>
    <div class="alert alert-success">
      <%= flash.notice %>
    </div>
  <% end %>

  <% if flash.alert.present? %>
    <div class="alert alert-danger">
      <%= flash.alert %>
    </div>
  <% end %>


  <%= yield %>

  <footer>
    <p>&copy; 2019 T-Yuma</p>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
